<div class="page-indicator">
  episodes#show
</div>
<div class="fake-screen">
  <div class="asset_url">
    <%= @episode.asset_url %>
  </div>
  <div class="duration">
    duration:
    <%= @episode.duration %>
  </div>
</div>
